@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dev: @ViewData["Dev"]</p>
<address>
    <strong>More information: </strong> <a href="https://docs.microsoft.com/pt-br/aspnet/core/?view=aspnetcore-3.1">Documentação do ASP.NET</a>
</address>
